* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-flow: row wrap;
    background-color:rgb(231, 238, 236);
    justify-content: space-between;
    padding: 15px;
}
img {
    width: 100px;
    height: 100px;

}
header div {
    /*background-color: blue;*/
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    
}
header .TI {
    width: 1000px;
    justify-content: center;
}
/**********************NAVEGACION*/
nav{
    background-color: rgb(12, 13, 14);
    /*background-color: pink;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding: 15px;
}
nav ul {
    /*background-color: mediumspringgreen;*/
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100% ;
    height: 20px;
    align-items: center;
}
ul li {
    
    padding: 10px;
    margin: 10px;

}
nav ul li a {
    /*background-color: blueviolet;*/
    margin: 5px;
    padding: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;

    
}

nav li  a:hover{
    background-color: rgba(65, 66, 66, 0.466);
    
}
a {
    text-decoration: none;
    
}
/***********************PRINCIPAL*******************************************/
main {
    /*background-color: yellow;*/

    display: flex;
    flex-flow: column wrap;

}
main section {
    /*background-color: orangered;*/
    padding-top: 5px;
    padding-bottom: 5px;

}
.flex-servicios img {
    width: 100%;
    height: 400px;
}
.flex-1 div{
    /*background-color: aqua;*/
    padding: 5px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;

    font-family: 'Times New Roman', Times, serif

}
.flex-2 div{
    background-color: rgb(6, 7, 7);
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    width:500px;

}
.flex-2 article {
    /*background-color: olive;*/
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.flex-2 div:hover{
    background-color: blue;
}












/*---------------------------------------------------------------------*/
/*ESTILOS DEL FOOTER*/
footer {
    /*background-color: aqua;*/
    background-color: rgb(231, 238, 236);
    display: flex;
    flex-direction: column;

}
footer div {
    /*background-color: gainsboro;*/
    margin-left: 45px;
    padding: 10px;
}
footer > p {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
    background-color: rgb(5, 5, 5);
    color: white;
}
footer div p {
    padding-top: 10px;
}
